<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <!-- CSS file -->
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css" />
    <!-- AOS css -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- gsap animation -->
    <script src="https://unpkg.com/gsap@3.9.0/dist/gsap.min.js"></script>
    <script src="https://unpkg.com/gsap@3.9.0/dist/ScrollTrigger.min.js"></script>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <div class="navbar-container container">
          <div data-aos="slide-right">
            <h1 class="navbar-brand">Kiran Ajnalkar</h1>
          </div>
          <ul class="menu-items" data-aos="slide-left">
            <li><a href="/">Start</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#MySkills">Skills</a></li>
            <li><a href="#my-works">Portfolio</a></li>
            <li><a href="#contact-me">Contact</a></li>
          </ul>
        </div>
      </nav>
      <!-- Home Section -->
      <div class="home-content" id="home-page">
        <div class="name">
          <h1 data-aos="zoom-out-down">Hi, I'm Kiran Ajnalkar</h1>
          <h1>
            <a href="" class="typewrite" data-period="2000" data-type='[ "A Full Stack Web Developer", "A Front-End Developer" ]' style="color: white; text-decoration: none">
              <span class="wrap"></span>
            </a>
          </h1>
        </div>
        <div class="angle-down-icon" data-aos="zoom-in-up">
          <a href="#about"><i class="fas fa-angle-down"></i></a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section class="about-me" id="about">
      <div class="container">
        <div class="about-content">
          <div class="left-content">
            <div>
              <h1 class="about-heading" data-aos="zoom-out-left">About Me</h1>
            </div>
            <img src="/static/images/my photo.jpeg" alt="image" data-aos="zoom-out-right" />
            <p data-aos="zoom-in-up">My name is Kiran Ajnalkar. I did my graduation in B.E[Computer Science Engineering] from Jaywant College Of Engineering And Management. I really enjoy solving problems as well as making things pretty and easy to use. I can't stop learning new things; the more, the better.</p>
            <div class="work-arrow">
              <p data-aos="zoom-in-up">
                <a href="#MySkills">Check out my Skills <i class="fas fa-arrow-down"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- skills Section -->
    <section class="skills-content" id="MySkills">
      <div class="skills">
        <div>
          <h1 class="skills-heading" data-aos="zoom-in-up">My Skills</h1>
        </div>
        <div class="skills-bar" data-aos="zoom-in-up">
          <div class="bar">
            <div class="info">
              <span>HTML</span>
            </div>
            <div class="progress-line"><span class="html"></span></div>
            <div class="bar">
              <div class="info">
                <span>CSS</span>
              </div>
              <div class="progress-line"><span class="css"></span></div>
              <div class="bar">
                <div class="info">
                  <span>BOOTSTRAP</span>
                </div>
                <div class="progress-line"><span class="bootstrap"></span></div>
                <div class="bar">
                  <div class="info">
                    <span>JAVASCRIPT</span>
                  </div>
                  <div class="progress-line"><span class="javascript"></span></div>
                  <div class="bar">
                    <div class="info">
                      <span>PYTHON</span>
                    </div>
                    <div class="progress-line"><span class="python"></span></div>
                    <div class="bar">
                      <div class="info">
                        <span>DJANGO</span>
                      </div>
                      <div class="progress-line"><span class="django"></span></div>
                      <div class="bar">
                        <div class="info">
                          <span>REACT JS</span>
                        </div>
                        <div class="progress-line"><span class="react"></span></div>
                        <div class="bar">
                          <div class="info">
                            <span>MYSQL</span>
                          </div>
                          <div class="progress-line"><span class="mysql"></span></div>
                          <div class="bar">
                            <div class="info">
                              <span>GIT</span>
                            </div>
                            <div class="progress-line"><span class="git"></span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="work-arrow-1">
            <p data-aos="zoom-in-up">
              <a href="#my-works">Check out my work <i class="fas fa-arrow-down"></i></a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- My Work Section -->
    <section class="myworks-content" id="my-works">
      <div class="portfolio">
        <div class="proj-heading">
          <h1 data-aos="flip-up">Portfolio</h1>
        </div>
        <div class="portfolio-content container">
          <div class="racesWrapper">
            <div class="races">

              <div class="proj-2">
                <img src="/static/images/fileexplorer.png" />
                <div class="proj2-details">
                  <i class="fab fa-html5"></i>
                  <i class="fab fa-css3-alt"></i>
                  <i class="fab fa-bootstrap"></i>
                  <i class="fab fa-js"></i>
                  <i class="fab fa-react"></i>
                  <h2>File Explorer</h2>
                  <p>Build Using HTML,CSS,Bootstrap,JS,React</p>
                  <button>
                    <a href="https://github.com/Kiran4949/FileExplorer" target="blank">View source <i class="fas fa-external-link-alt"></i></a>
                  </button>
                  <button>
                    <a href="https://file-explorer4.netlify.app/" target="blank">Try it Live <i class="fas fa-external-link-alt"></i></a>
                  </button>
                </div>
              </div>

              <div class="proj-2">
                <img src="/static/images/wordutils.png" />
                <div class="proj2-details">
                  <i class="fab fa-html5"></i>
                  <i class="fab fa-css3-alt"></i>
                  <i class="fab fa-bootstrap"></i>
                  <i class="fab fa-js"></i>
                  <i class="fab fa-react"></i>
                  <h2>WordUtils</h2>
                  <p>Build Using HTML,CSS,Bootstrap,JS,React</p>
                  <button>
                    <a href="https://github.com/Kiran4949/WordUtils" target="blank">View source <i class="fas fa-external-link-alt"></i></a>
                  </button>
                  <button>
                    <a href="https://wordutil.netlify.app/" target="blank">Try it Live <i class="fas fa-external-link-alt"></i></a>
                  </button>
                </div>
              </div>

              <div class="proj-1">
                <img src="/static/images/shopk.jpg" />
                <div class="proj1-details">
                  <i class="fab fa-html5"></i>
                  <i class="fab fa-css3-alt"></i>
                  <i class="fab fa-bootstrap"></i>
                  <i class="fab fa-js"></i>
                  <i class="fab fa-python"></i>
                  <img class="icon" src="/static/images/django.png" />
                  <h2>ShopK</h2>
                  <p>Build Using HTML,CSS,Bootstrap,JS,Python,Django</p>
                  <button>
                    <a href="https://github.com/Kiran4949/ShopK" target="blank">View source <i class="fas fa-external-link-alt"></i></a>
                  </button>
                  <button>
                    <a href="https://shopk.pythonanywhere.com/" target="blank">Try it Live <i class="fas fa-external-link-alt"></i></a>
                  </button>
                </div>
              </div>

              <div class="proj-2">
                <img src="/static/images/weather.png" />
                <div class="proj2-details">
                  <i class="fab fa-html5"></i>
                  <i class="fab fa-css3-alt"></i>
                  <i class="fab fa-bootstrap"></i>
                  <i class="fab fa-js"></i>
                  <i class="fab fa-python"></i>
                  <img class="icon" src="/static/images/django.png" />
                  <h2>Weather App</h2>
                  <p>Build Using HTML,CSS,Bootstrap,JS,Python,Django</p>
                  <button>
                    <a href="https://github.com/Kiran4949/Weather_App" target="blank">View source <i class="fas fa-external-link-alt"></i></a>
                  </button>
                </div>
              </div>

              <div class="proj-2">
                <img src="/static/images/wallpapershd.jpg" />
                <div class="proj2-details">
                  <i class="fab fa-html5"></i>
                  <i class="fab fa-css3-alt"></i>
                  <i class="fab fa-bootstrap"></i>
                  <i class="fab fa-js"></i>
                  <i class="fab fa-python"></i>
                  <img class="icon" src="/static/images/django.png" />
                  <h2>WALLPAPERs</h2>
                  <p>Build Using HTML,CSS,Bootstrap,JS,Python,Django</p>
                  <button>
                    <a href="https://github.com/Kiran4949/Wallpapers" target="blank">View source <i class="fas fa-external-link-alt"></i></a>
                  </button>
                  <button>
                    <a href="https://wallpapershd.pythonanywhere.com/" target="blank">Try it Live <i class="fas fa-external-link-alt"></i></a>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="more-work">
          <p data-aos="slide-right">More</p>
          <p data-aos="slide-left">
            <a href="/static/cv pdf/Kiran CV.pdf" target="blank" download>Download CV <i class="fas fa-download"></i> </a>
          </p>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <div class="contact" id="contact-me">
      <div class="container">
        <div class="contact-content">
          <h2 data-aos="zoom-out-down">Contact Me</h2>
          <p class="mail" data-aos="slide-left">
            Get in touch with me
            <i class="fas fa-arrow-right"></i> kiranajnalkar4949@gmail.com
          </p>
          <p class="mail" data-aos="slide-right">Contact number <i class="fas fa-arrow-right"></i> 7972023530, 9130958757</p>
          <p class="links" data-aos="zoom-in-up">Or find me on:</p>
          <p data-aos="slide-right">
            <a href="http://www.linkedin.com/in/kiran-ajnalkar-717175258" target="blank"><i class="fab fa-linkedin"> Linkedin</i></a>
          </p>
          <p data-aos="slide-left">
            <a href="https://github.com/Kiran4949" target="blank"><i class="fab fa-github"></i> Github</a>
          </p>
        </div>
      </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Fontawesome Kit -->
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
    <!-- JS file -->
    <script src="/static/css/js/all.js"></script>
    <!-- Initialize aos -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 80,
        duration: 2000,
      });
    </script>
    <!-- End Initialize aos -->
  </body>
</html>
